@import 'animations.scss';
@import 'variables.scss';

@mixin flexbox($direction){
    display: flex;
    flex-direction: $direction;
}

/* BEM blocks: header, main, footer, nBCard ( nB por "not Bootstrap
para no mezclarse con la card de Bootstrap), contentHeader, nBTable (mismo que con la card, 
galery y form */

*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    scroll-behavior: smooth;

        body{
            font-family: 'Source Sans Pro', sans-serif;
            background: linear-gradient(-45deg, $backgroundColor, $tittleColor, #000, #242424);
            background-size: 400%, 400%;
            background-clip: content-box;
            background-attachment: fixed;
            animation: gradient 15s ease infinite;
            height: 100%;

            p{
                color: $tittleColor;
                font-size: 1rem;
            }
            
            h3{
                color: $linkColors;
                font-size: 1.4rem;
            }
            
            h4{
                @extend h3;
                color: $tittleColor;
            }
            
            a{
                text-decoration: none;
                color: $linkColors;
            }

            ul{
                padding-left: 0;
            }
        }
}


#container{
    @include flexbox(column);
        
            .header{
                height: 4rem;
                border-bottom: 2px ridge $linkColors;
                z-index: 3;
                overflow: hidden;

                    &__tittle{
                        display: inline-block;
                        position: relative;
                        bottom: -5px;
                        left: 10px;
                        color: #FFF;
                        font-size: 1.15rem;

                        @media only screen and (max-width: $bp-small){
                            font-size: 0.5rem;
                        }
                        @media only screen and (max-width: $bp-small-2){
                            font-size: 0.8rem;
                        }
                    }

                    .navbar{
                        background: $backgroundColor;
                        border-bottom: 2px ridge $linkColors;
            
                        &-toggler-icon{
                            width: 1.3rem;
                        }
                        .logo__img{
                            width: 5rem;
                            height: auto;
                            margin: 1px;
                        }
                    }
            }
            
            .main{
                @include flexbox(column);
                overflow: hidden;
                animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000);

                &__upper{
                    .main__header{
                        @include flexbox (row);
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 0;

                        video{
                            height: 50vh;
                            
                            @media only screen and (min-width:$bp-large){
                                height: 100%;
                                width: 100%;
                            }
                        }
            
                        #floatingText{
                            @include flexbox(column);
                            align-items: center;
                            justify-content: center;
                            width: auto;
                            position: absolute;
                            z-index: 1;
            
                            h2{
                                text-align: center;
                                text-shadow: #000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, $linkColors 0px 0px 20px, $linkColors 0px 0px 30px, $linkColors 0px 0px 40px, $linkColors 0px 0px 50px, $linkColors 0px 0px 75px;
                                color: #FFFFFF;
                                padding-bottom: 10px;
                            }

                            .btn{
                                padding: 0.5rem 1.5rem;
                            }
                        }
                    }
                    picture{
                        img{
                            @media only screen and (min-width:$bp-4k){
                                width: 100%;
                            }
                        }
                    }
                }

                &__lower{
                    @include flexbox(column);

                    @media only screen and (min-width:$bp-med){
                        display: grid;
                        grid-template-columns: 3% 40% 6% 2% 6% 40% 3%;
                        grid-template-rows: 86px auto 90vh 90vh;
                        grid-template-areas: 
                            "titulo titulo titulo titulo titulo titulo titulo"
                            "heading heading heading heading heading heading heading"
                            "itemUno itemUno itemUno centro espacioUno espacioUno bordeDer"
                            "bordeIzq espacioDos espacioDos centro itemDos itemDos itemDos";
                    }

                    @media only screen and (min-width:$bp-med-2){
                        display: grid;
                        grid-template-columns: 3% 46% 2% 46% 3%;
                        grid-template-rows: 86px auto auto auto;
                        grid-template-areas: 
                            "titulo titulo titulo titulo titulo"
                            "heading heading heading heading heading"
                            "itemUno itemUno centro espacioUno bordeDer"
                            "bordeIzq espacioDos centro itemDos itemDos";
                    }
                    .contentHeader{
                        grid-area: titulo;
                        background-color: black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        height: 5.375rem;

                        @media only screen and (max-width: $bp-med){
                            height: 3rem;
                        }

                        &__tittle{
                            color:$linkColors 80;
                            text-align: center;
                        }
                    }

                    &__heading{
                        @include flexbox(column);
                        grid-area: heading;
                        background-color: #12121280;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        align-items: center;
                        height: fit-content;
                        

                        @media only screen and (min-width:$bp-med){
                            justify-content: space-evenly;              
                        }

                        @media only screen and (min-width:$bp-large) and (orientation:landscape){
                            height: fit-content;
                        }

                        @media only screen and (min-width:$bp-large-2){
                            height: 30vh;
                        }

                        &__parraf{
                            font-size: 1rem;
                            color: #fff;
                            text-align: center;

                            &--down{
                                padding: 0 10% 0 10%;
                                color: #fff;
                                text-align: center;
                                @media only screen and (min-width:$bp-med){
                                    font-size: 1rem;
                                    padding: 0 30% 0 30%;
                                }
                            }

                            .bold{
                                font-weight: bolder;
                            }
                        }

                        .btn{
                            padding: 1rem 3rem;
                        }
                    }

                    .nBCard{
                        @include flexbox (column);
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: center;
                        background-color: $linkColors;

                        @media only screen and (min-width:$bp-med-2) and (orientation: landscape){
                            height: fit-content;
                        }
                        @media only screen and (min-width: $bp-xl-2){
                            flex-flow: row;
                            height: 90vh;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: 100%;
                        }

                        &--one{
                            grid-area: itemUno;
                            
                            @media only screen and (max-width:$bp-small){
                                border-radius: 0%;
                            }
                            @media only screen and (min-width:$bp-xl-2){
                                border-radius: 0% 24% 24% 50% / 0% 24% 24% 0% ;
                            }
                        }

                        &--two{
                            grid-area: itemDos;

                            @media only screen and (max-width:$bp-small){
                                border-radius: 0%;
                            }
                            @media only screen and (min-width:$bp-xl-2){
                                border-radius: 24% 0% 0% 24% / 24% 24% 24% 24% ;
                            }
                        }

                        &__text{
                            @include flexbox(column);
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            

                            .nBCard__tittle--one{
                                text-align: center;
                                color: #000;
                                font-weight: bold;
                                font-size: 2rem;
                                position: inherit;

                                @media only screen and (min-width:$bp-xl-2){
                                    position: relative;
                                    left: 200px;
                                }
                            }

                            .nBCard__tittle--two{
                                @extend .nBCard__tittle--one;
                                
                                @media only screen and (min-width:$bp-xl-2){
                                    left: 350px;
                                }
                            }

                            &__paragraf--one{
                                text-align: center;
                                color: #000;
                                font-size: 1.3rem;
                                position: inherit;
                                @media only screen and (min-width:$bp-xl-2) {
                                    position: relative;
                                    left: 200px;
                                    width: 30vw;
                                }
                            }

                            &__paragraf--two{
                                @extend .nBCard__text__paragraf--one;
                                left: 350px;

                                @media only screen and (min-width:$bp-xl-2){
                                    width: 30vw;
                                }
                            }

                            #galleryButton{
                                position: inherit;
                                @media only screen and (min-width:$bp-xl-2){
                                    position: relative;
                                    left: 200px;
                                }
                            }
                            
                            #serviceButton{
                                position: inherit;

                                @media only screen and (min-width:$bp-xl-2){
                                    position: relative;
                                    left: 350px;
                                }
                            }

                            @media only screen and (min-width: $bp-med) {
                                width: 80%;
                            }
                        }

                        &__video{
                            width: 100%;
                            height: auto;

                            @media only screen and (min-width:$bp-xl-2){
                                height: 282px;
                                width: 500px;
                                box-shadow: $linkColors;

                            }

                            &--one{
                                position: inherit;

                                @media only screen and (min-width:$bp-xl-2){
                                    position: relative;
                                    right: -250px;
                                }

                                video{
                                    width: 100%;
                                    border: 10px solid $linkColors;
                                    @media only screen and (min-width:$bp-xl-2){
                                        border: 20px solid $linkColors;
                                        border-radius: 2rem;
                                        width: auto;
                                    }
                                }
                            }

                            &--two{
                                position: inherit;

                                @media only screen and (min-width:$bp-xl-2){
                                    position: relative;
                                    left: -550px;
                                }

                                @media only screen and (min-width:$bp-xxl){
                                    left: -625px;
                                }

                                @media only screen and (min-width:$bp-1044p){
                                    left: -750px;
                                }
                                @media only screen and (min-width:$bp-1080p){
                                    left: -850px;
                                }
                                @media only screen and (min-width:$bp-4k){
                                    left: -1000px
                                }
                                video{
                                    width: 100%;
                                    border: 10px solid $linkColors;

                                    @media only screen and (min-width:$bp-xl-2){
                                        border: 20px solid $linkColors;
                                        border-radius: 2rem;
                                        width: auto;
                                    }
                                    
                                }
                            }
                        }
                    }
                
                    &--services{
                        display: flex;

                        .nBTable{
                            @include flexbox (column);
                            align-items: center;
                            width: 100%;
    
                            &__container{
                                width: fit-content;
    
                                @media only screen and (min-width:$bp-xl-2){
                                    width: 90%;
                                }
    
                                &__borders{
                                    margin-top: 10px;
                                    border-color: $linkColors;
                                    border-radius: 15px;
                                }
    
                            }
                            .serviceList{
                                list-style-image: url(../images/li_dot.png);
                                padding-left: 0.6rem;
                                
                            }
                        }
                    }
                    

                    &--gallery{
                        @include flexbox(column);
            
                        .gallery{
                            width: 100%;
                            height: auto;
                            margin: 25px 0 75px 0;
    
                            &__container{
                                @include flexbox(column);
                                flex-wrap: nowrap;
                                width: 100%;
                                height: auto;
                                justify-content: space-evenly;
                                align-items: center;
                                align-content: stretch;
    
                                @media only screen and (min-width:$bp-med-2){
                                    @include flexbox(row);
                                    flex-wrap: wrap;
                                }
                            
                                @media only screen and (min-width: $bp-med){
                                    width: 100%;
                                    height: 100%;
                                }
                                    
                            }
                            &__item{
                                @include flexbox(column);
                                justify-content: center;
                                width: auto;
                                height: auto;
                                transition: transform 330ms ease-in-out;
                                padding-top: 1rem;

                                img{
                                    filter: grayscale(100%);
                                }
                                
                                &__description{
                                    padding: 15px;
                                    text-align: center;
                                    background-color: $linkColors;
                                    color: #000;
                                    font-weight: bold;
                                }
                            }
                            
                            img:hover{
                                filter: none;
                                z-index: 2;
                            }
                            &__item:hover{
                                transform: scale(1.03);
                            }
                        }
                    }

                    &--aboutUs{
                        @include flexbox(column);

                        .aboutUs{
                            width: 100%;
    
                            &__container{
                                width: 80%;
                                @include flexbox(column);
                                justify-content: center;
                                align-items: center;
                                margin-left: auto;
                                margin-right: auto;
                            }
    
                            &__member{
                                @include flexbox(row);
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                margin-top: 3rem;
                                margin-bottom: 3rem;

                                @media only screen and (max-width:$bp-med){
                                    flex-direction: column;
                                }
    
                                &__info{
                                    width: auto;
                                    padding-left: 1rem;
                                    padding-right: 1rem;
                                    text-align: left;
                                    color: #FFF;
                                    font-size: 1.1rem;

                                    &__name{
                                        font-weight: bold;
                                        font-size: 1.2rem;
                                    }

                                    &__link{
                                        color: $linkColors;
                                    }
                                    &__link:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
    
                           &__image{
                                float: left;
                                margin: 10px;
                           } 
                        }
                    }

                    &--contact{
                        display: flex;
                       
                        .form{
                            width: 100%;
    
                            @media only screen and (min-width: 1024px){
                                width: 60%;
                                margin: 25px 20% 45px 20%;
                            }
    
                            fieldset{
                                .form-floating{
                                    margin-top: 4px;
                                    margin-bottom: 4px;
                                }

                                .form-check-label{
                                    color: #FFF
                                }
                            }

                            &__container{
                                @include flexbox(column);
                                justify-content: center;
                                align-items: center;
                                margin-left: 5px;
                                margin-right: 5px;
                                margin-bottom: 10px;
                            }
    
                            &__inputBlock{
                                color: $otherColor;
                            }
    
                            &__tittle{
                                text-align: center;
                                color: $linkColors;
                            }
                            
                            input:focus{
                                transform: scale(1.05);
                            }
    
                            &-group{
                                @include flexbox(row);
                                margin-top: 8px;
                                justify-content: space-evenly;
                                align-items: center;
                            }
                        }
                    }

                    &--error{
                        display: flex;
                        width: 100%;

                        &__message{
                            text-align: center;
                            display: inline-block;
                            width: 40%;
                        }
                    }
                }
            }
            
            .footer{
                @include flexbox(column);
                justify-content: space-evenly;
                align-items: center;
                background: $backgroundColor;
                width: 100%;
                padding-top: 3rem;
                border-top: $linkColors solid 1px;
                overflow: hidden;

                @media only screen and (min-width:$bp-med){
                    display: grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    grid-template-rows: 75% auto;
                    grid-template-areas: 
                        "info mapa links subs"
                        "copy copy copy copy";
                }

                &__titles{
                    font-size: 1rem;
                    color: #fff;
                    text-align: center;
                    padding-top: 1rem;
                    font-weight: bold;

                    @media screen and (min-width:$bp-med){
                        text-align: left;
                        padding-top: 0;
                    }
                }

                &__info{
                    grid-area: info;
                    text-align: center;

                    @media only screen and (min-width:$bp-med){
                        text-align: left;
                        margin-left: 3rem;
                    }

                    &__logo{
                        width: 5rem;
                        height: auto;
                        padding-bottom: 1rem;
                    }

                    &__parraf{
                        padding-top: 0.1rem;
                        padding-right: 1rem;
                        color: #fff;
                    }
                }
                &__map{
                    grid-area: mapa;
                    @include flexbox(column);
                    justify-content: space-evenly;
                    align-items: center;

                    @media only screen and (min-width: $bp-med){
                        align-items: flex-start;
                    }

                    &__iframe{
                        width: 60%;
                        height: 80%;
                    }
                }

                &__mid{
                    width: 80%;
                    
                    @media only screen and (min-width:$bp-med){
                        grid-area: links;
                        width: 80%;
                        margin-bottom: 10px;
                    }
                }
            
                &__right{
                    grid-area: subs;
                    width: 80%;
                    margin-bottom: 1rem;

                    @media only screen and (min-width:$bp-xl-2){
                        margin-bottom: 3rem;
                    }

                    .footer__subscription{
                        
                        &__form{
                            @include flexbox(row);

                            @media only screen and (min-width:$bp-med){
                                flex-direction: column;
                            }

                            @media only screen and (min-width:$bp-xl-2){
                                flex-direction: row;
                            }
                        }
                    }
                }

                    &__linkbar{
                        list-style: none;

                        &--navbar{
                            @include flexbox(row);
                            flex-wrap: wrap;
                            justify-content: space-around;
                            padding-right: 10px;

                            @media only screen and (min-width: $bp-med){
                                display: block;
                                padding-right: 0;
                            }
                        }
                        &--socialMedia{
                            @include flexbox(row);
                            margin-top: 1rem;
                            justify-content: space-around;
                            align-items: center;
                        }

                        &__item{
                            transition: transform 350ms ease-in-out;
                            color: $linkColors;

                            a{
                                text-decoration: none;
                                color: $linkColors;
                            }
                        }

                        &__item:hover{
                            transform: scale(1.01);
                        }
                    }

                &__bottom{
                    grid-area: copy;
                    @include flexbox(column);
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    text-align: center;
                }    
            }   
}